* {
  box-sizing: border-box; /*Hiermit wird für das gesamte Dokument, die sinnfreie default-Einstellung content-box bei allem mit border-box überschrieben*/
}

* {
  font-family: "Montserrat", sans-serif; /*zweite Schriftart als Backup, unbegrenzte Anzahl, letzte sollte Grundschriftart sein*/
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Phudu", cursive; /*selector list -> Font gilt für alle aufgelisteten Tag-Names*/
}

.general_header {
  /*Class-Name*/
  padding: 30px 250px; /*erste Zahl vertikales Padding, zweite horizontales*/
  text-align: center;
  background-color: #f5f3f2;
  color: #765f4f; /*Schriftfarbe*/
}
.special_header {
  padding: 20px;
  border-width: 0, 02cm;
  border-style: solid;
  border-color: #ffffff;
}

.h1 {
  font-size: 230%;
  color: #74043f;
}

.general_link a:link {
  /*folgende 3 Classes sind zur Style-Anpassung der Links: 1. Farbe, 2. Farbwechsel nach Besuch, 3. HIntergrundfarbe ändert sich beim drüber hovern*/
  color: #765f4f;
}
.general_link a:visited {
  color: #74043f;
}
.general_link a:hover {
  /*hover muss immer vor active stehen, weil hovern passiert rein technisch immer auch gleichzeitig noch wenn man klickt, in diesem Fall überspielt der nachgelagerte Befehl den vorherigen*/
  background-color: #ffffff;
}
.general_link a:active {
  background-color: #c68aa9;
}

nav a {
  padding: 5px;
}

main {
  padding-left: 100px;
  padding-bottom: 50px;
  margin: 0 auto;
  max-width: 1200px;
}

.article_padding {
  padding-top: 20px;
}

article ~ article {
  border-top: 3px solid #c68aa9;
}

footer {
  margin: 0 auto;
}

.footer_general {
  padding: 30px 250px;
  text-align: center;
  background-color: #f5f3f2;
  color: #765f4f;
}

body {
  margin: 0px;
}
