* {
  box-sizing: border-box; /*Hiermit wird für das gesamte Dokument, die sinnfreie default-Einstellung content-box bei allem mit border-box überschrieben*/
}

html {
  font-family: "Montserrat", sans-serif; /*zweite Schriftart als Backup, unbegrenzte Anzahl, letzte sollte Grundschriftart sein*/
  font-size: 16px; /*Irgendwie klappt das Zusammenspiel mit dieser General-FOnt-Size und meinen Header-Font-Sizes nicht si richtig nur das em auf rem funktioniert*/
}

/*Responsive Design*/
@media screen and (min-width: 786px) {
  html {
    font-size: 18px;
  }
}

@media screen and (min-width: 992px) {
  html {
    font-size: 20px;
  }
}

::selection {
  /*was machst diese Einstellung?*/
  background-color: #c68aa9;
  color: #ffffff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Phudu", cursive; /*selector list -> Font gilt für alle aufgelisteten Tag-Names*/
}

.general_header {
  /*Class-Name*/
  padding: 2rem 25rem; /*erste Zahl vertikales Padding, zweite horizontales*/
  text-align: center;
  background-color: #f5f3f2;
  color: #765f4f; /*Schriftfarbe*/
}
.header_box {
  padding: 1.5rem;
  border: 0.25rem solid #ffffff; /*Hier die verkürzte Schreibweise mit der Reihenfolge width, style, color*/
}

.header_fontsizes {
  /*Gesamthafte Font-Size aus Aufgabe*/
  font-size: 18rem;
}

.h1 {
  /*Schriftgröße von der H1, 1em von header_Fontsizes*/
  font-size: 1em;
  color: #74043f;
}
.p_header {
  /*Schriftgröße vom Header-Text 25% von der Header_Fontsizes*/
  font-size: 0.25em;
}
.header_box::after {
  content: "🦁";
}

.general_link a:link {
  /*folgende 3 Classes sind zur Style-Anpassung der Links: 1. Farbe, 2. Farbwechsel nach Besuch, 3. HIntergrundfarbe ändert sich beim drüber hovern*/
  color: #765f4f;
}
.general_link a:visited {
  color: #74043f;
}
.general_link a:hover {
  /*hover muss immer vor active stehen, weil hovern passiert rein technisch immer auch gleichzeitig noch wenn man klickt, in diesem Fall überspielt der nachgelagerte Befehl den vorherigen*/
  background-color: #ffffff;
}
.general_link a:active {
  background-color: #c68aa9;
}

nav a {
  padding: 0.4rem;
}

.header_badge {
  position: fixed;
  top: 1rem;
  right: 1rem;
  border-radius: 0.3rem;
  padding: 0.7rem;
  color: #ffffff;
  background-color: #74043f;
}

@media screen and (min-width: 992px) {
  /*Sollte eigentlich das Hire-Me ausblenden - funktioniert noch nicht
  */
  .header_badge {
    position: fixed;
  }
}

@media print {
  /*Nav und Hire Me werden in Druckansicht entfernt*/
  .header_badge {
    display: none;
  }
  .nav {
    display: none;
  }
}

main {
  padding-left: 8rem;
  padding-right: 8rem;
  padding-bottom: 2rem;
  padding-top: 2rem;
  margin: 0 auto;
  max-width: 100ch;
}

.article_padding {
  padding-bottom: 1rem; /*Abstand nach unten zum nächsten article*/
}

article ~ article {
  border-top: 0.3rem solid #c68aa9;
  padding-top: 0.5rem; /*damit der Strich nicht so nach an der Article-Überschrift klebt*/
}

@media screen {
  .article_padding {
    margin-bottom: 20px;
  }
}

.article_heading {
  display: inline-block;
  position: relative;
  left: -1.5rem;
}

.experience_headline {
  display: inline;
}

.experience_subheadline {
  display: inline-block;
  padding-left: 1rem;
}

footer {
  margin: 0 auto;
}

.footer_general {
  display: block;
  padding: 2rem;
  background-color: #f5f3f2;
  color: #765f4f;
  margin-inline: auto;
}

.footer_contact {
  display: block;
  margin-inline: auto;
  text-align: center; /*bekomme hier die Punkte nicht in den Center & mit Margin: auto funktioniert es auch nicht*/
}

body {
  margin: 0rem;
}
